<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="/static/forgot-password.css">
</head>
<body>
    <div class="page-container">
        <div class="registration-container">
            <div class="registration-section">
                <div class="registration-header">
                    <h1>Reset Password</h1>
                    <p>Reset your password in this amazing Page</p>
                </div>
                <form id="reset-password-form" method="post">
                    <div class="input-group">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                        <div id="strengthIndicator" class="strength-indicator"></div>
                    </div>
                    <button type="submit" id="register-btn">Reset Password</button>
                </form>
            </div>
            <div class="quote-section">
                <div class="quote-content">
                    <p class="quote-main">
                        Abhi se Password yaad rakhne ka kutreya 
                    </p>
                    <p class="quote-text">
                        -DefenseSphere Team
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="static/reset-password.js"></script>
    <script src="/static/transition.js"></script>
</body>
</html>